---
import Layout from "../layouts/Layout.astro"
---

<Layout classMenu="other-page-header">
    <section class="page_breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">
                                Inicio
                            </a>
                        </li>
                        <li class="active">Nosotros</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    
    <section class="ls section_padding_100 columns_padding_25">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-4">

                            <img src="images/logo_color.png" alt="">

                        </div>

                        <div class="col-md-8">
                            <div class="section-heading padding-bottom-10">
                                <h3>Sobre Nosotors</h3>
                                <h2>Asistencia Funeraria</h2>
                            </div>
                            <p>
                                Lideres en el Sector Funerario nacional, innovación en servicios exequiales de necesidad inmediata, visionarios en el concepto del negocio y desarrollo con tecnología de vanguardia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row topmargin_60">
                <div class="col-sm-6 to_animate" data-animation="scaleAppear">
                    <div class="teaser media with_background">
                        <div class="media-left media-middle">
                            <div class="teaser_icon highlight size_big">
                                <i class="fa-solid fa-briefcase"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading secondary-color">Misión</h3>
                            <div>Ser un apoyo a la familia ante la pérdida de un ser querido, ofreciendo un servicio profesional, de necesidad inmediata con profundo contenido humano y espiritual, generando un vínculo afectivo.</div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 to_animate" data-animation="scaleAppear">
                    <div class="teaser media with_background">
                        <div class="media-left media-middle">
                            <div class="teaser_icon highlight size_big">
                                <i class="fa-solid fa-eye"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading secondary-color">Visión</h3>
                            <div>Ser reconocidos como la empresa lider en asistencia exequial por el excelente servicio.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 to_animate" data-animation="scaleAppear">
                    <div class="teaser media with_background">
                        <div class="media-left media-middle">
                            <div class="teaser_icon highlight size_big">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading secondary-color">Valores</h3>
                            <div>
                                <ul>
                                    <li>Compromiso</li>
                                    <li>Transparencia</li>
                                    <li>Espiritualidad</li>
                                    <li>Tenacidad</li>
                                    <li>Alegría</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 to_animate" data-animation="scaleAppear">
                    <div class="teaser media with_background">
                        <div class="media-left media-middle">
                            <div class="teaser_icon highlight size_big">
                                <i class="fa-solid fa-paper-plane"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading secondary-color">Trayectoria</h3>
                            <div>Gracias a nuestra amplia Trayectoria, contamos con personal altamente capacitado, qué le guiará en todo el proceso para adquirir el mejor Plan Exequial del país.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</Layout>