---
import Layout from "../layouts/Layout.astro"
---

<Layout classMenu="main-page-header">
	<section class="intro_section page_mainslider ds">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<img src="/images/slide04.jpg" alt="">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="slide_description_wrapper text-center">
									<div class="slide_description">
										<div class="intro-layer" data-animation="scaleAppear">
											<h3 class="topmargin_40">
												Servicios Exequiales
											</h3>
											<h4 class="text-uppercase">Podemos ayudarte en los momentos más difíciles</h4>
											<a class="theme_button color1 inverse" href="/services">Nuestro servicios</a>
										</div>
									</div>
									<!-- eof .slide_description -->
								</div>
								<!-- eof .slide_description_wrapper -->
							</div>
							<!-- eof .col-* -->
						</div>
						<!-- eof .row -->
					</div>
					<!-- eof .container -->
				</li>
				<li>
					<img src="/images/slide02.jpg" alt="">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="slide_description_wrapper text-center">
									<div class="slide_description">
										<div class="intro-layer" data-animation="scaleAppear">
											<h3 class="topmargin_40">
												Proteger la familia
											</h3>
											<h4 class="text-uppercase">Es nuestro compromiso</h4>
											<a class="theme_button color1 inverse" href="/services">Nuestro servicios</a>
										</div>
									</div>
									<!-- eof .slide_description -->
								</div>
								<!-- eof .slide_description_wrapper -->
							</div>
							<!-- eof .col-* -->
						</div>
						<!-- eof .row -->
					</div>
					<!-- eof .container -->
				</li>
				<li>
					<img src="/images/slide03.jpg" alt="">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="slide_description_wrapper text-center">
									<div class="slide_description">
										<div class="intro-layer" data-animation="scaleAppear">
											<h3 class="topmargin_40">
												En los momentos difíciles
											</h3>
											<h4 class="text-uppercase">Somos tu aliado</h4>
											<a class="theme_button color1 inverse" href="/services">Nuestro servicios</a>
										</div>
									</div>
									<!-- eof .slide_description -->
								</div>
								<!-- eof .slide_description_wrapper -->
							</div>
							<!-- eof .col-* -->
						</div>
						<!-- eof .row -->
					</div>
					<!-- eof .container -->
				</li>
			</ul>
		</div>
		<!-- eof flexslider -->
	</section>
	<section class="ls ms services-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 margin_0">
					<div class="s-block s-block1 to_animate">
						<div>
							<span>Servicios
								<span>Funerales</span>
							</span>
						</div>
						<img src="/images/services-img1.png" alt="">
						<a class="big" href="/services">Más Información</a>
					</div>
				</div>
				<div class="col-sm-4 margin_0">
					<div class="s-block s-block2 to_animate">
						<div>
							<span>Sala de
								<span>Velación</span>
							</span>
						</div>
						<img src="/images/services-img2.png" alt="">
						<a class="big" href="/services">Más Servicios</a>
					</div>
				</div>
				<div class="col-sm-4 margin_0">
					<div class="s-block s-block3 to_animate">
						<div>
							<span>Asistencia y
								<span>Trámites</span>
							</span>
						</div>
						<img src="/images/services-img3.png" alt="">
						<a class="big" href="/services">Leer Más</a>
					</div>
				</div>

			</div>
		</div>
	</section>
	<section class="ls ls section_padding_top_100 section_padding_bottom_100">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-md-6">

							<img src="images/logo_color.png" alt="">

						</div>

						<div class="col-md-6">
							<div class="section-heading padding-bottom-10">
								<h3>Sobre Nosotors</h3>
								<h2>Asistencia Funeraria</h2>
							</div>
							<p>
								Lideres en el Sector Funerario nacional, innovación en servicios exequiales de necesidad inmediata, visionarios en el concepto del negocio y desarrollo con tecnología de vanguardia.
							</p>
							<a class="theme_button color2" href="/about">Sobre Nosotros</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="ls parallax section_padding_100 dark_testimonials_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 to_animate">
					<div class="row">
						<div class="col-sm-1 col-md-12 text-center">
							<h2 class="margin_0">Afilia a tu familia desde $17.00</h2>
							<p>
								No te pierdas esta promoción, afilia a cuatro personas adultas e ingresan cuatros menores de edad de forma gratuita.
							</p>
							<a href="https://api.whatsapp.com/send?phone=593988266839" class="theme_button color2 inverse">Afiliate Aquí</a>
						</div>
					</div>
					<!-- .owl-carousel -->
				</div>
				<!-- .col- -->
			</div>
			<!-- .row -->
		</div>
	</section>
	<section class="ls ms section_padding_top_100 section_padding_bottom_100">
		<div class="container">

			<div class="row">
				<div class="col-sm-12 section-heading text-center">
					<h3>¿Qué hace nuestra empresa?</h3>
					<h2>Somos especialistas en asistencia exequial</h2>
					<p>Nuestra compañía brinda servicios funerales de necesidad inmediata, servicios funerales de previsión, servicios de cremación y servicios de inhumación.</p>
				</div>

			</div>
			<div class="row">
				<div class="col-sm-12 col-md-4 to_animate" data-animation="pullUp">
					<div class="teaser text-center">
						<div class="teaser_icon grey size_normal">
							<img src="images/services/service_1.png">
						</div>
						<h3>Servicios Religiosos</h3>
						<p>
							Acorde al culto indicado por el cliente, Libro de oraciones y Rosario
						</p>
					</div>
				</div>
				<div class="col-sm-12 col-md-4 to_animate" data-animation="pullUp">
					<div class="teaser text-center">
						<div class="teaser_icon grey size_normal">
							<img src="images/services/service_2.png">
						</div>
						<h3>Taslados</h3>
						<p>A las salas de velación y a camposanto vía terrestre</p>
					</div>
				</div>
				<div class="col-sm-12 col-md-4 to_animate" data-animation="pullUp">
					<div class="teaser text-center">
						<div class="teaser_icon grey size_normal">
							<img src="images/services/service_3.png">
						</div>
						<h3>Arreglos Florales</h3>
						<p>Decoración de las Salas de Velación, con sus respectivos arreglos florales</p>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 text-center">
					<a class="theme_button color2 inverse topmargin_40" href="/services">Ver más Servicios</a>
				</div>
			</div>
		</div>
	</section>
	<section class="ls parallax color-bg section_padding_top_100 section_padding_bottom_100 newsletter_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 to_animate" data-animation="expandOpen">
					<div class="text-center">
						<h2>Preguntas Frecuentes</h2>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="panel-group topmargin_40" id="accordion1">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
												<i class="fa fa-comment-o highlight"></i> PREVENCIÓN EN SERVICIOS EXEQUIALES?
											</a>
										</h4>
									</div>
									<div id="collapse1" class="panel-collapse collapse in">
										<div class="panel-body">
											Previsión es cuando sin encontrarse en una emergencia, se adquiere con anticipación el servicio funerario programado a los requerimientos de la familia. De esta forma nuestros afiliados adquieren tranquilidad de saber que su familia está protegida por
											una institución solida y confiable.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion1" href="#collapse2" class="collapsed">
												<i class="fa fa-comment-o highlight"></i> NECESIDAD INMEDIATA?
											</a>
										</h4>
									</div>
									<div id="collapse2" class="panel-collapse collapse">
										<div class="panel-body">
											Necesidad inmediata es cuando en medio de una emergencia por el fallecimiento de un familiar, se adquieren servicios funerales en dicho momento.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion1" href="#collapse3" class="collapsed">
												<i class="fa fa-comment-o highlight"></i> NUESTRA EMPRESA HACE TRAMITES LEGALES?
											</a>
										</h4>
									</div>
									<div id="collapse3" class="panel-collapse collapse">
										<div class="panel-body">
											Si nuestra empresa te ayuda en todos los trámites legales necesarios para la inhumación o cremación ante las autoridades competentes.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="ls ms section_padding_top_100 section_padding_bottom_100">
		<div class="container">

			<div class="row">
				<div class="col-sm-12 section-heading text-center">
					<h3>Jaspeblack</h3>
					<h2>Paquetes</h2>
				</div>
			</div>

			<div class="row">

				<div class="col-sm-12 col-md-6 to_animate" data-animation="pullUp">
					<ul class="price-table style2">
						<li class="plan-name">
							<h4>Paquete Jade</h4>
							<span></span>
						</li>
						<li class="features-list">
							<ul>
								<li>• Asesoría telefónica para trámites legales.</li>
								<li>• Tanatopraxia.</li>
								<li>• Formolización.</li>
								<li>• Servicio de cafetería básico.</li>
								<li>• Sala de velación o en domicilio por 24 horas.</li>
								<li>• Servicio religioso.</li>
								<li>• Traslado en auto carroza (perímetro urbano).</li>
								<li>• Servicio de traslado fuera del perímetro urbano hasta $400.</li>
								<li>• Nicho o bóveda en propiedad hasta $2500 dólares.</li>
								<li>• 4 arreglos florales.</li>
								<li>• Cremación, urna cineraria y columbario en propiedad.</li>
								<li>• Libro de condolencias.</li>
								<li>• Cofre de metal o madera lineal.</li>
								<li>• Servicio a nivel nacional.</li>
							</ul>
						</li>
						<li class="call-to-action">
							<a href="https://api.whatsapp.com/send?phone=593988266839&text=Deseo%20conocer%20m%C3%A1s%20sobre%20el%20Paquete%20Jade" class="theme_button color1">Saber Más Sobre Paquete</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-12 col-md-6 to_animate" data-animation="pullUp">
					<ul class="price-table style2">
						<li class="plan-name">
							<h4>Paquete Perla</h4>
							<span></span>
						</li>
						<li class="features-list">
							<ul>
								<li>• Asesoría telefónica para trámites legales.</li>
								<li>• Tanatopraxia.</li>
								<li>• Formolización.</li>
								<li>• Servicio de cafetería completo.</li>
								<li>• Sala de velación o en domicilio por 48 horas.</li>
								<li>• Servicio religioso.</li>
								<li>• Acompañamiento musical.</li>
								<li>• Traslado en auto carroza de lujo (perímetro urbano).</li>
								<li>• Servicio de traslado fuera del perímetro urbano hasta $600.</li>
								<li>• Nicho o bóveda en propiedad hasta $3500.</li>
								<li>• 4 arreglos florales laterales y un cubre ataúd.</li>
								<li>• Cremación, urna cineraria y columbario en propiedad.</li>
								<li>• Libro de condolencias.</li>
								<li>• Obituario virtual.</li>
								<li>• Cofre de madera elegante.</li>
								<li>• Servicio a nivel nacional.</li>
							</ul>
						</li>
						<li class="call-to-action">
							<a href="https://api.whatsapp.com/send?phone=593988266839&text=Deseo%20conocer%20m%C3%A1s%20sobre%20el%20Paquete%20Perla" class="theme_button color1">Saber Más Sobre Paquete</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</section>
	<section class="ls parallax section_padding_100 info_parallax">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 to_animate">
					<div class="row">
						<div class="col-sm-1 col-md-12">
							<h2 class="text-center margin_0">Estamos contigo haciendo más fácil el momento más difícil.</h2>
						</div>
					</div>
					<!-- .owl-carousel -->
				</div>
				<!-- .col- -->
			</div>
			<!-- .row -->
		</div>
	</section>
	<section class="ls section_padding_top_100 section_padding_bottom_100">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 section-heading text-center">
					<h3>Datos de Contacto</h3>
					<h2>¡Estamos aquí para tí!</h2>

				</div>
			</div>
			<div class="row topmargin_40">
				<div class="col-sm-4 to_animate">
					<div class="teaser text-center">
						<div class="teaser_icon secondary-color size_normal">
							<i class="fa-solid fa-envelope-open"></i>
						</div>
						<h3>
							<a href="mailto:info@jaspeblack.com" target="_blank">info@jaspeblack.com</a>
						</h3>
					</div>
				</div>
				<div class="col-sm-4 to_animate">
					<div class="teaser text-center">
						<div class="teaser_icon secondary-color size_normal">
							<i class="fa-solid fa-phone-volume"></i>
						</div>
						<h3>
							<a href="tel:+593988266839" target="_blank">(+593) 0988266839</a>
						</h3>
					</div>
				</div>
				<div class="col-sm-4 to_animate">
					<div class="teaser text-center">
						<div class="teaser_icon secondary-color size_normal">
							<i class="fa-solid fa-location-dot"></i>
						</div>
						<h3>Jorge Drom E4-23 y Pereira Edif. Iñaquito Torre 2</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="map"></section>
</Layout>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&callback=initGoogleMap&key=AIzaSyAVPpSQBHEscOGBx-8Y8ADsmBcylrNE4CM" async defer></script>

<script is:inline>
    window.initGoogleMap = function() {
        var lat;
        var lng;
        var map;
        var styles = [{
            "elementType": "geometry",
            "stylers": [{
                "color": "#1a314a"
            }]
        }, {
            "elementType": "labels.text.fill",
            "stylers": [{
                "color": "#1a726a"
            }]
        }, {
            "elementType": "labels.text.stroke",
            "stylers": [{
                "color": "#1a3646"
            }]
        }, {
            "featureType": "administrative.country",
            "elementType": "geometry.stroke",
            "stylers": [{
                "color": "#4b6878"
            }]
        }, {
            "featureType": "administrative.land_parcel",
            "elementType": "labels.text.fill",
            "stylers": [{
                "color": "#64779e"
            }]
        }, {
            "featureType": "administrative.province",
            "elementType": "geometry.stroke",
            "stylers": [{
                "color": "#4b6878"
            }]
        }, {
            "featureType": "landscape.man_made",
            "elementType": "geometry.stroke",
            "stylers": [{
                "color": "#334e87"
            }]
        }, {
            "featureType": "landscape.natural",
            "elementType": "geometry",
            "stylers": [{
                "color": "#023e58"
            }]
        }, {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [{
                "visibility": "off"
            }, {
                "color": "#283d6a"
            }]
        }, {
            "featureType": "poi",
            "elementType": "labels.text.fill",
            "stylers": [{
                "visibility": "off"
            }, {
                "color": "#6f9ba5"
            }]
        }, {
            "featureType": "poi",
            "elementType": "labels.text.stroke",
            "stylers": [{
                "visibility": "off"
            }, {
                "color": "#1d2c4d"
            }]
        }, {
            "featureType": "poi.park",
            "elementType": "geometry.fill",
            "stylers": [{
                "visibility": "off"
            }, {
                "color": "#023e58"
            }]
        }, {
            "featureType": "poi.park",
            "elementType": "labels.text.fill",
            "stylers": [{
                "visibility": "off"
            }, {
                "color": "#3C7680"
            }]
        }, {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [{
                "color": "#0f5357"
            }]
        }, {
            "featureType": "road",
            "elementType": "labels.text.fill",
            "stylers": [{
                "color": "#98a5be"
            }]
        }, {
            "featureType": "road",
            "elementType": "labels.text.stroke",
            "stylers": [{
                "color": "#1d2c4d"
            }]
        }, {
            "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [{
                "color": "#2c6675"
            }]
        }, {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [{
                "color": "#255763"
            }]
        }, {
            "featureType": "road.highway",
            "elementType": "labels.text.fill",
            "stylers": [{
                "color": "#b0d5ce"
            }]
        }, {
            "featureType": "road.highway",
            "elementType": "labels.text.stroke",
            "stylers": [{
                "color": "#023e58"
            }]
        }, {
            "featureType": "transit",
            "elementType": "labels.text.fill",
            "stylers": [{
                "visibility": "off"
            }, {
                "color": "#98a5be"
            }]
        }, {
            "featureType": "transit",
            "elementType": "labels.text.stroke",
            "stylers": [{
                "visibility": "off"
            }, {
                "color": "#1d2c4d"
            }]
        }, {
            "featureType": "transit.line",
            "elementType": "geometry.fill",
            "stylers": [{
                "visibility": "off"
            }, {
                "color": "#283d6a"
            }]
        }, {
            "featureType": "transit.station",
            "elementType": "geometry",
            "stylers": [{
                "visibility": "off"
            }, {
                "color": "#3a4762"
            }]
        }, {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [{
                "color": "#0e1626"
            }]
        }, {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [{
                "color": "#4e6d70"
            }]
        }]
        var geocoder = new google.maps.Geocoder();

        //type your address after "address="
        var address = 'Jorge Drom, Quito 170102, Ecuador';
        //type your address after "address="
        geocoder.geocode({
            address: address
        }, function(data) {

            var lat = -0.171432;
            var lng = -78.485514;
            var center = new google.maps.LatLng(lat, lng);
            var settings = {
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoom: 20,
                draggable: false,
                scrollwheel: false,
                center: center,
                styles: styles
            };
            map = new google.maps.Map(document.getElementById('map'), settings);

            var marker = new google.maps.Marker({
                position: center,
                icon: "./images/ico.png",
                title: 'Jaspeblack S.A',
                map: map
            });
            marker.setTitle('Jaspeblack S.A'.toString());
            //type your map title and description here
            attachSecretMessage(marker, '<h3>Jaspeblack S.A</h3><p>Estamos contigo haciendo más fácil el momento más difícil.</p>');
        })

        function attachSecretMessage(marker, message) {
            var infowindow = new google.maps.InfoWindow({
                content: message
            });
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map, marker);
            });
        }

    }
</script>
