---
import Layout from "../layouts/Layout.astro"
---

<Layout classMenu="other-page-header">
    
    <section class="page_breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">
                                Inicio
                            </a>
                        </li>
                        <li class="active">Promociones</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="ls section_padding_100 columns_padding_25">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 to_animate text-center">
                    <h1>Estamos Trabajando</h1>
                    <img src="/images/working.svg" style="height: 50vh;" alt="">

                </div>
            </div>
        </div>
    </section>
</Layout>