---
import Layout from "../layouts/Layout.astro"
---

<Layout classMenu="other-page-header">
    <section class="page_breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">
                                Inicio
                            </a>
                        </li>
                        <li class="active">Servicios</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="ls section_padding_100 columns_padding_25">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 to_animate">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="section-heading padding-bottom-10">
                                <h3>¿Qué ofrecemos?</h3>
                                <h2>Servicios Exequiales</h2>
                            </div>
                            <p>Contamos con el mejor servicio para los momentos mas difíciles y ayudarte con tu ser querido, nos rige un alto sentido de ética laboral, ambiental y social, el cual determina un alto compromiso con el cliente, así como
                                las buenas prácticas profesionales de cada uno de nuestros colaboradores.</p>
                        </div>
                        <div class="col-lg-6 bottommargin_40">
                            <img src="/images/services/bodegon-crucifijo-libro-vela.jpg" alt="">
                        </div>
                    </div>
                    <hr class="bottommargin_15">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="teaser text-center">
                                <div class="teaser_icon grey size_normal">
                                    <img src="images/services/service_1.png">
                                </div>
                                <h3>Servicios Religiosos</h3>
                                <p>
                                    Acorde al culto indicado por el cliente, Libro de oraciones y Rosario
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="teaser text-center">
                                <div class="teaser_icon grey size_normal">
                                    <img src="/images/services/service_2.png">
                                </div>
                                <h3>Traslados</h3>
                                <p>
                                    A las salas de velación y a camposanto vía terrestre
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="teaser text-center">
                                <div class="teaser_icon grey size_normal">
                                    <img src="/images/services/service_3.png">
                                </div>
                                <h3>Decoración</h3>
                                <p>
                                    Decoración de las Salas de Velación, con sus respectivos arreglos florales
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="teaser text-center">
                                <div class="teaser_icon grey size_normal">
                                    <img src="/images/services/service_4.png">
                                </div>
                                <h3>Trámites Legales</h3>
                                <p>
                                    Para la Inhumación o cremación ante las autoridades competentes
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="teaser text-center">
                                <div class="teaser_icon grey size_normal">
                                    <img src="images/services/service_5.png">
                                </div>
                                <h3>Tanatopraxia</h3>
                                <p>
                                    Servicio de arreglo, vestimenta y maquillaje del cuerpo
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="teaser text-center">
                                <div class="teaser_icon grey size_normal">
                                    <img src="/images/services/service_6.png">
                                </div>
                                <h3>Salas de velación</h3>
                                <p>
                                    Hasta 24 horas en la ciudad requerida o servicio a domicilio
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</Layout>