<footer class="page_footer ds ms section_padding_top_50 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 to_animate" data-animation="scaleAppear">
                <div>
                    <p>
                        <img src="/images/logo.png" alt="">
                    </p>
                    <p>Estamos contigo haciendo más fácil el momento más difícil.</p>
                    <div class="soc-icons text-center text-md-left">
                        <a href="#" class="social-icon bg-icon soc-facebook"></a>
                        <a href="#" class="social-icon bg-icon soc-twitter"></a>
                        <a href="#" class="social-icon bg-icon soc-google"></a>
                        <a href="#" class="social-icon bg-icon soc-skype"></a>
                        <a href="#" class="social-icon bg-icon soc-youtube"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 to_animate padding-top-60" data-animation="scaleAppear">
                <div class="">

                    <h3 class="widget-title">Contacto</h3>
                    <div>
                        <ul class="footer-menu-links">
                            <li class="">
                                <p>
                                    <i class="rt-icon2-location highlight2 fontsize_24"></i> Jorge Drom E4-23 y Pereira Edif. Iñaquito Torre 2. Quito - Ecuador</p>
                            </li>
                            <li class="">
                                <p>
                                    <i class="rt-icon2-phone highlight2 fontsize_24"></i>(+593) 0988266839</p>
                            </li>
                            <li class="">
                                <p>
                                    <i class="fa fa-globe highlight2 fontsize_24"></i>
                                    <a href="mailto:info@jaspeblack.com">info@jaspeblack.com</a>
                                </p>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="col-md-3 col-sm-12 to_animate padding-top-60" data-animation="scaleAppear">
                <div class="widget widget_flickr footer">

                    <h3 class="widget-title">Enlaces</h3>
                    <ul>
                        <li>
                            <img src="/images/qr/qr-code-1-1024x1024.png" alt="">
                        </li>
                        <li>
                            <img src="/images/qr/qr-code-2-1024x1024.png" alt="">
                        </li>
                        <li>
                            <img src="/images/qr/qr-code-3-1024x1024.png" alt="">
                        </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<section class="page_copyright ls table_section section_padding_25">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>&copy; Copyright 2023 by
                    <a href="https://www.kamaycode.com.ec/" target="_blank">Kamay Code</a>. All Rights Reserved</p>
            </div>
        </div>
    </div>
</section>